<template>
  <div class="cart-list">
    <div v-for="item in reversedCartItems">
      {{ item.title }}: {{item.price}} {{currency}}, {{item.amount}} {{WEIGHT_CURRENCY}} 
    </div>
  </div>
</template>

<script>
export default {
  props: {
    cart: Array,
    currency: String
  },
  computed: {
    // change indent, method name
    reversedCartItems() {
      return this.cart.reverse();
    },
  },
};
</script>

<style>

</style>
