<!-- template first -->
<template>
  <div class="header">
    <!-- between cartPrice and currency should be placed separator for future business logic -->
    <h3>Товаров в корзине на: {{ cartPrice }} {{ currency }}</h3>
  </div>
</template>

<script>
import {DECIMAL_PLACES} from '../constants'

export default {
  name: 'Header',
  props: {
    // set options for cart prop
    cart: {
      type: Array,
      required: true,
      // default must use factory function for Array/Object
      default: () => [],
    },
    currency: String,
  },
  // watch better for side effects, here we use computed
  computed: {
    cartPrice() {
      // use reduce for map collection in one value
      return this.cart.reduce((prev, cur) => prev + cur.price * cur.amount, 0).toFixed(DECIMAL_PLACES)
    }
  },
}
</script>

<style scoped>
  .header {
    padding: 10px;
    background: #e5e5e5;
  }
</style>
