<template>
  <div class="product-list">
    <!-- use media query here, set key -->
    <!-- card need move in component -->
    <div class="card" v-for="product in products" :key="product.key">
      <p class="card-title">{{ product.title }}</p>
      <!-- set alt (W3C) -->
      <img class="card-image" :src="product.image" :alt="product.title">
      <p class="card-price">Цена: {{ product.price }} {{ currency }}</p>

      <div>
        <input type="number" ref="amount" :id="product.id">
        <!-- кг in const -->
        <span>{{WEIGHT_CURRENCY}}</span>
      </div>

      <!-- indent better through styles -->
      <button @click="addToCart(product)">В корзину</button>
    </div>
  </div>
</template>

<script>
import {mapActions, mapState} from 'vuex'

export default {
  props: {
    currency: String,
  },
  computed: {
    ...mapState(['products']),
  },
  created() {
    this.startProductListMonitoring();
  },
  methods: {
    // declarative mapping
    ...mapActions(['getProductsList']),
    startProductListMonitoring() {
      // better move to store, keep state, mutations, actions together
      // 2 seconds - business requirement
      setInterval(this.getProductsList, 2000);
    },
    addToCart(product) {
      // may null
      const amountStr = (this.$refs.amount.find((input) => input.id === product.id) || {}).value;
      const amountNum = Number(amountStr) || 0

      if (!amountNum) {
        // make mutation, set error in store, and show in ui
        return
      }

      const cartItem = {
        amount: amountNum,
        price: product.price,
        title: product.title,
      };

      this.$emit('addToCart', cartItem)
    },
  },
};
</script>

<style>
.product-list {
  padding: 10px;
}

.card {
  display: inline-block;
  width: 100%;
  border: 1px solid #908888;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.card-image {
  width: 100%;
}

button {
  padding: 5px;
  margin: 5px;
}

@media (min-width: 420px) and (max-width: 840px) {
  .card {
    width: 50%;
  }
}

@media (min-width: 841px) {
  .card {
    width: 33.3333%;
  }
}
</style>
